*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-color: #00f;
    display: flex;
    flex-direction: row;
}

.aboutMe {
    padding-top: 20px;
    background-color: #0f0;
    width: 300px;
    position: fixed;
    height: 100vh;
}

.aboutMe h2, p {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.aboutMe img.myPhoto {
    display: block;
    margin: auto;
    width: 215px;
    height: 215px;
    border-radius: 107.5px;
    margin-top: 20px;
}

.myPortfolio {
    flex-grow: 1;
    background-color: #f00;
    height: 1500px;
    margin-left: 300px;
}

.myPortfolio .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 50px;
}

.myPortfolio .nav_social ul li {
    width: 30px;
    height: 30px;
}

.myPortfolio .nav_social ul li, .myPortfolio .nav_menu ul li {
    display: inline-block;
    list-style: none;
    line-height: 30px;
}

.arrow_prev:before {
    content: "\f104";
    font-family: FontAwesome;
}

.quotes_img img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.arrow_next:before {
    content: "\f105";
    font-family: FontAwesome;
}