/* Google Fonts */
@font-face {font-family: 'Ubuntu-Light'; src: url('../fonts/ubuntu/Ubuntu-Light.ttf'); font-weight: 300; font-style: normal;}
@font-face {font-family: 'PlayfairDisplay-Regular'; src: url('../fonts/playfair_display/PlayfairDisplay-Regular.ttf'); font-weight: 400; font-style: normal;}
@font-face {font-family: 'PlayfairDisplay-Italic'; src: url('../fonts/playfair_display/PlayfairDisplay-Italic.ttf'); font-weight: 400; font-style: italic;}
@font-face {font-family: 'PlayfairDisplay-Black'; src: url('../fonts/playfair_display/PlayfairDisplay-Black.ttf'); font-weight: 600; font-style: normal;}
@font-face {font-family: 'Inconsolata-Regular'; src: url('../fonts/Inconsolata-Regular.ttf'); font-weight: 400; font-style: normal;}

/* Variables CSS */
:root {
    /* Colors */
    --color-0: #000;
    --color-1: #626262;
    --color-2: #b4ad9e;
    --color-a-hover: #000;
    --color-3: #f0f0f0;

    /* Font and typography */
    --body-font-ub-light: 'Ubuntu-Light', Arial, Helvetica, sans-serif;
    --body-font-pf-regular: 'PlayfairDisplay-Regular', 'Times New Roman', serif;
    --body-font-pf-italic: 'PlayfairDisplay-Italic', 'Times New Roman', serif;
    --body-font-pf-black: 'PlayfairDisplay-Black', 'Times New Roman', serif;
    --body-font-in-regular: 'Inconsolata-Regular', monospace;

    /* .875rem = 14px, 1rem = 16px, 1.875rem = 30px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.875rem;
    --normal-font-size: .875rem;
    --small-font-size: .75rem;
}

*,
*:before,
*:after {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

a {text-decoration: none; color: var(--color-1);}
a:hover {transition: .2s ease-in-out; color: var(--color-a-hover);}

ul {list-style: none;}

.header__logo, .header__nav, .article__category,
.article__comment, .post__category, .likes__subtitle,
.comments__subtitle, .comment__reply, .topposts__comments {
    text-transform: uppercase;
}

body {
    font-family: var(--body-font-pf-regular); 
    display: flex;
    flex-direction: column;
    font-size: var(--normal-font-size);
    color: var(--color-1);
}

.header, .slider {
    width: 1200px;
    margin: 0 auto;
    padding: 0 70px;
}

.articles, .content, .news, .comments {
    width: 1200px;
    margin: 0 auto;
    padding: 0 150px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.header__logo a {
    font-size: var(--h1-font-size);
    color: var(--color-0);
    font-family: var(--body-font-in-regular);
    letter-spacing: 8px;
}

.header__logo a span {
    display: inline-block;
    position: relative;
}

.header__logo a span::before,
.header__logo a span::after {
    content: "";
    position: absolute;
    left: -2px;
    top: 50%;
    width: 21px;
    height: 1px;
    background-color: var(--color-0);
    transform: rotate(-65deg);
}

.header .header__nav ul li {
    display: inline-block;
    margin: 0 50px;
    line-height: 40px;
}

.header .header__nav ul li:last-child {margin-right: 0;}

.header__menu {
    display: none;
    width: 20px;
    height: 20px;
}

.header__menu ul li {
    background: var(--color-0);
    height: 1px;
    width: 100%;
    margin-bottom: 7px;
    border-radius: 2px;
}

.header__menu ul li:last-child {margin-bottom: 0;}

.slider {
    height: 509px;
    margin-bottom: 50px;
}
/* Slider */
.swiper {
    width: 100%;
    height: 100%;
}
/* Swiper */
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.articles {
    margin-top: 50px;
    margin-bottom: 100px;
}

.article__category {margin-bottom: 25px;}

.article__title {margin-bottom: 35px;}

.article__text {
    margin-bottom: 50px;
    line-height: 24px;
}

.articles img {
    width: 100%;
    margin-bottom: 60px;
}

.articles p {margin-bottom: 30px;}

.articles p span {font-family: var(--body-font-pf-black);}

.articles blockquote p {
    font-family: var(--body-font-pf-italic);
    padding: 0 20px;
}

.article__share ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.article__share ul li {
    display: inline-block;
    margin-right: 15px;
}

.article__share ul li:last-child {margin-right: 0;}

.article__share ul li a svg {
    height: 18px;
    width: 18px;
    fill: var(--color-2);
}

.article__share ul li a svg:hover {fill: var(--color-0);}

.article__category a, .article__comment {
    font-family: var(--body-font-ub-light);
    color: var(--color-2);
}

.content__posts, .news__posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post {
    width: 420px;
    margin-bottom: 130px;
}

.post__img, .post__title {margin-bottom: 30px;}

.post__category {margin-bottom: 25px;}

.post__text p {
    line-height: 24px;
}

.signup {
    height: 287px;
    margin-top: 60px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup__title {margin-bottom: 75px;}

.signup__input {
    position: relative;
    height: 35px;
    border-bottom: 2px solid #000;
}

.signup__input form input {
    width: 368px;
    height: 35px;
    border: none;
    background: none;
    outline: none;
    font-family: var(--body-font-pf-regular);
}

.signup__input form button {
    width: 32px;
    margin: 9px 0;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.news {margin-top: 100px;}

.news__button {
    width: 100%;
    display: flex;
}

.news__button button {
    margin: 0 auto;
    padding: 15px 32px;
    font-family: var(--body-font-pf-regular);
    font-size: 20px;
    background: none;
    border: 1px solid var(--color-1);
    color: var(--color-1);

    cursor: pointer;
}

.news__button button:hover {
    border: 1px solid var(--color-0);
    color: var(--color-0);
    background: var(--color-3);
    transition: .4s ease-in-out;
}

.footer {
    height: 97px;
    background-color: #f0f0f0;
    margin-top: 90px;
}

.footer__container {
    height: 97px;
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__privacy a {margin-right: 20px;}

.footer__privacy a:last-child {margin-right: 0;}

.footer__follow ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer__follow ul li:last-child {margin-right: 0;}

.footer__follow ul li a svg {
    width: 20px;
    height: 20px;
    fill: var(--color-1);
    margin-bottom: -5px;
}

.footer__follow ul li a svg:hover {fill: var(--color-0);}

.likes {
    width: 100%;
    background: var(--color-3);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 74px 310px;
}

.likes__subtitle {
    width: 100%;
    margin-bottom: 40px;
}

.likes__subtitle a {color: var(--color-2);}

.likes__subtitle a:hover {color: var(--color-0);}

.likes__box {width: 273px;}

.like__img {margin-bottom: 25px;}

.like__img img {width: 100%;}

.comments {
    display: flex;
    flex-direction: column;
}

.comments__subtitle {
    margin-top: 60px;
    margin-bottom: 40px;
}

.comments__subtitle a, .comment__reply a {
    font-family: var(--body-font-ub-light);
    color: var(--color-2);
}

.comment__reply a:hover {color: var(--color-0);}

.comment, .comment__send {
    display: flex;
    flex-direction: row;
    margin-bottom: 55px;
}

.comment__send .comment__img img {opacity: .5;}

.comment__img {margin-right: 35px;}

.comment__img img {
    height: 70px;
    width: 70px;
}

.comment__subtitle {margin-bottom: 10px;}

.comment__text {margin-bottom: 25px;}

.comment__text p {line-height: 25px;}

.comment__input {
    width: 100%;
    position: relative;
}

.comment__input form textarea {
    resize: none;
    width: 100%;
    height: 68px;
    border: 1px solid #b4ad9e;
    border-radius: 4px;
    padding: 25px;
}

.comment__input form textarea:focus {outline: none;}

.comment__input form input {
    position: absolute;
    top: 0;
    right: 0;
    height: 66px;
    margin: 1px 1px 1px 0;
    width: 100px;
    border: none;
    background: var(--color-3);
    cursor: pointer;
    display: none;
}

.comment__input form textarea:valid + input {
    display: inline-block;
    font-family: var(--body-font-pf-regular);
    font-size: 1.5rem;
    color: var(--color-1);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.comment__input form textarea:valid + input:hover {color: var(--color-0);}

.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.w-80 {
    width: 100%;
    padding-right: 48px;
    padding-left: 150px;
}

.sidebar {
    width: 272px;
    margin-right: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    align-self: flex-start
}

.sidebar__about {margin-bottom: 38px;}

.sidebar__about img {
    width: 100%;
    margin-bottom: 28px;
}

.sidebar__about h2, .sidebar__about p {margin-bottom: 20px;}

.sidebar__about p {
    font-size: var(--small-font-size);
    line-height: 20px;
}

.sidebar__share {
    margin-top: 30px;
    display: flex;
    justify-content: left;
}

.sidebar__topposts ul li {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.sidebar__topposts ul li img {
    margin-right: 20px;
    height: 5px;
    width: 5px;
    margin-top: 10px;
}

.sidebar__topposts ul li h3 {margin-bottom: 10px;}

.sidebar__sale img {width: 100%;}

.topposts__comments {
    font-family: var(--body-font-ub-light);
    color: var(--color-2);
}

@media (min-width: 1200px) {
    .likes {padding: 74px 10%;}
    .likes__box {width: calc(95%/3);}
}

@media (min-width: 1000px) and (max-width: 1199px) {
    .header, .slider {width: 100%; padding: 0 70px;}
    .articles, .content, .news, .comments {width: 1000px; padding: 0 10%;}
    .post {width: 48%;}
    .post__img img {width: 100%;}
    .footer__container {width: 95%;}
    .likes {padding: 74px 10%;}
    .likes__box {width: calc(95%/3);}
    .w-80 {width: 70%; margin: 0; margin-bottom: 100px;}
    .conteiner {width: 100%; margin: 0;}
    .sidebar {width: 25%;}
}

@media (min-width: 768px) and (max-width: 1000px) {
    .header, .slider {width: 100%; padding: 0 70px;}
    .header .header__nav ul li {margin: 0 25px;}
    .articles, .content, .news, .comments {width: 100%; padding: 0 10%;}
    .post {width: 48%;}
    .post__img img {width: 100%;}
    .footer__container {width: 95%;}
    .likes {padding: 74px 10%;}
    .likes__box {width: calc(95%/3);}
    .w-80 {width: 70%; margin: 0; margin-bottom: 100px;}
    .conteiner {width: 100%; margin: 0;}
    .sidebar {width: 25%;}
}

@media (max-width: 768px) {
    .header {margin: 50px auto; flex-wrap: wrap;}
    .header__nav {display: none; width: 100%; background: #fff; order: 3; z-index: 999;}
    .header__menu {display: block; cursor: pointer;}
    .header, .slider {width: 100%; padding: 0 20px;}
    .header .header__nav ul li {display: block; margin: 0; border-bottom: 1px solid var(--color-1);}
    .header .header__nav ul li a {padding: 10px 84% 10px 0;}
    .header .header__nav ul li:hover {background: var(--color-3);}
    .articles, .content, .news, .comments {width: 100%; padding: 0 20px;}
    .post {width: 100%;}
    .post__img img {width: 100%;}
    .footer__container {width: 95%;}
    .signup {margin-top: 0;}
    .likes {padding: 74px 20px 0;}
    .likes__box {width: 100%; margin-bottom: 70px;}
    .w-80 {width: 70%; margin: 0; margin-bottom: 100px;}
    .conteiner {width: 100%; margin: 0;}
    .sidebar {width: 40%; margin-right: 20px;}
}