@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}

body {
    margin-top: 47px;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.nav {
    margin: 0 10%;
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu ul li {
    list-style: none;
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
}

.menu ul li a {
    text-transform: uppercase;
    font-size: .9em;
    color: black;
}

.contact, .contact__box {
    display: flex;
    flex-direction: row;
}

.contact .contact__box img {
    margin: 0 5px;
}

.contact .contact__box a {
    color: black;
    margin-right: 5px;
}

.button__order a {
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 700;
    color: #D5122B;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 70px;
}

.slider .slider__title {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.493);
    backdrop-filter: blur(4px);
    width: 760px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
}

.slider .slider__title h4 {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
}

.slider img {
    width: 100%;
    height: 100%;
}

.aboutUs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10%;
    height: 462px;
    margin-bottom: 70px;
}

.aboutUs__text {
    width: 50%;
}

.text__us {
    width: 80%;
    display: block;
    margin: 0 auto;
}

h1 {
    color: #FF9D00;
    font-size: 3.3em;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-text-stroke: 1px black;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
}


.aboutUs__img {
    width: 50%;
    height: 462px;
}

.aboutUs__img img {
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.bottom {
    margin-top: 50px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom__1 {
    width: 214px;
    height: 48px;
    background-color: #D5122B;
    text-align: center;
    border-radius: 24px;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

.bottom__1:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid #D5122B;
    color: #D5122B;
}

.bottom__2 {
    width: 260px;
    height: 48px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 24px;
    line-height: 48px;
    text-transform: uppercase;
    color: #D5122B;
    border: 1px solid #D5122B;
    font-weight: 700;
}

.bottom__2:hover {
    background-color: #D5122B;
    color: rgb(255, 255, 255);
    border: 1px solid #D5122B;
}

.ourAdvantages {
    height: 641px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 100px 10%;
}

.ourAdvantages img {
    margin-top: -100px;
    width: 100%;
    height: 641px;
    position: absolute;
    z-index: -2;
}

.ourAdvantages .blackground_cover {
    margin-top: -100px;
    background-color: rgba(0, 0, 0, 0.801);
    position: absolute;
    width: 100%;
    height: 641px;
    z-index: -1;
}

.ourAdvantages h2 {
    color: #ffffff;
    font-size: 3.3em;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 150px;
}

.ourAdvantages__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
}

.ourAdvantages__box .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.ourAdvantages__box .box h5 {
    font-size: 2em;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
}

.ourAdvantages__box .box span {
    font-size: 1.2em;
    font-weight: 700;
    color: #FF9D00;
}

.ourAdvantages__box .box p {
    font-size: 1em;
    color: #fff;
}

.ourAdvantages__box .hr {
    height: 50px;
    width: 1px;
    background-color: #fff;
}

.ourAdvantages .bottom {
    width: 214px;
    height: 48px;
    background-color: #D5122B;
    text-align: center;
    border-radius: 24px;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    display: block;
}

.ourAdvantages .bottom:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid #000;
    color: #D5122B;
    line-height: 46px;
}

.case {
    position: relative;
    height: 654px;
    width: 100%;
    padding: 0 15%;
    display: flex;
    align-items: center;
}

.case img {
    position: absolute;
    right: 10%;
    bottom: 0;
}

.case__box, .form {
    z-index: 1;
}

.case .case__box h3 {
    color: #FF9D00;
    font-size: 3.3em;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.case__box .box__check {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 750px;
}

.case__box .box__check .check img {
    position: inherit;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.case__box .box__check .check {
    display: flex;
    flex-direction: row;
    width: 250px;
    margin-bottom: 30px;
}

.case__box .bottom {
    width: 214px;
    height: 48px;
    background-color: #D5122B;
    text-align: center;
    border-radius: 24px;
    line-height: 48px;
    font-size: .9em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    display: block;
}

.case__box .bottom:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid #D5122B;
    color: #D5122B;
    line-height: 46px;
}

.form {
    position: relative;
    height: 640px;
}

.form img {
    width: 100%;
    height: 641px;
    position: absolute;
    z-index: -3;
}

.form .blackground_cover {
    background-color: rgba(0, 0, 0, 0.801);
    position: absolute;
    width: 100%;
    height: 641px;
    z-index: -2;
}

.roulette img {
    position: absolute;
    bottom: 50px;
    right: 0;
    z-index: -1;
    width: 1000px;
    height: 219px;
}

.form .form__text {
    width: 60%;
}

.form .form__text h2 {
    color: #ffffff;
    font-size: 3.3em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.form .form__text p {
    width: 60%;
    font-size: .9em;
    color: #ffffff;
    line-height: 2em;
}


input[type=text], input[type=tel] {
    width: 367px;
    height: 48px;
    border-radius: 5px;
    padding-left: 15px;
    background-position: 95%;
    background-repeat: no-repeat;
    border: none;
    margin-bottom: 20px;
}

input[type=text] {
    background-image: url('../img/form_name.png');
}

input[type=tel] {
    background-image: url('../img/form_tel.png');
}

.form__input {
    width: 30%;
    margin-left: 5%;
}

.form__input a {
    width: 367px;
    height: 48px;
    background-color: #D5122B;
    text-align: center;
    border-radius: 24px;
    line-height: 48px;
    font-size: .9em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    display: block;
}

.form__input a:hover {
    background-color: rgb(255, 255, 255);
    color: #D5122B;
}

.form__input .bottom {
    margin-top: 0;
}

form {
    width: 367px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form .form__box {
    display: flex;
    flex-direction: row;
    margin: 0 15%;
}

.reviews {
    height: 680px;
    display: flex;
    flex-direction: column;
    margin: 0 15%;
    align-items: center;
    padding-top: 70px;
}

.reviews h3 {
    color: #FF9D00;
    font-size: 3.3em;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.reviews__block {
    display: flex;
    flex-direction: row;
    height: 430px;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.block .cover {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.block {
    position: relative;
}

.reviews__block .block__2 {
    height: 350px;
    width: 280px;
    background-color: #2E2E2E;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviews__block .block__1, .reviews__block .block__3 {
    height: 320px;
    width: 260px;
    background-color: #2E2E2E;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviews__block .block img {
    width: 25px;
    height: 20px;
}

.arrow__left, .arrow__right {
    width: 41px;
}

.reviews__block .block__2 p {
    color: #fff;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0 auto; 
}

.reviews__block .block__1 p, .reviews__block .block__3 p {
    color: #fff;
    font-size: .9em;
    line-height: 1.3em;
    margin: 0 auto; 
}

.block .block__name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 66px;
    align-items: center;
}

.block .block__name img {
    width: 66px;
    height: 66px;
    border-radius: 33px;
}

.block .block__name p {
    margin: 0 auto; 
    font-weight: 500;
}

.reviews__hr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 102px;
}

.reviews__hr .horizon__hr1,
.reviews__hr .horizon__hr2, 
.reviews__hr .horizon__hr3 {
    width: 32px;
    height: 2px;
}

.reviews__hr .horizon__hr2 {
    background-color: #FF9D00;
}

.reviews__hr .horizon__hr1,
.reviews__hr .horizon__hr3 {
    background-color: #C6C6C6;
}

.reviews__hr a {
    width: 32px;
    height: 1px;
}

.our_works {
    display: flex;
    flex-direction: column;
    background-image: url(../img/back_2.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.our_works h2 {
    color: #ffffff;
    font-size: 3.3em;
    font-weight: 900;
    text-transform: uppercase;
    margin: 100px auto 70px;
}

.our_works .works__tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 15% 40px;
}

.works__tabs .tabs a {
    line-height: 1.5em;
    color: #797979;
    text-transform: uppercase;
}

.works__tabs .active a {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.works__tabs .tabs a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
    transition: .3s ease-in-out;
}

.our_works .works__bottom {
    margin: 50px auto 70px;
    width: 214px;
    height: 48px;
    text-align: center;
    border-radius: 24px;
    line-height: 48px;
    font-size: .9em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    display: block;
    border: 1px solid #ffffff;
}

.our_works .works__bottom:hover {
    background-color: #D5122B;
    color: #ffffff;
    border: none;
}

.works__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 15%;
}

.works__gallery .gallery__pic {
    margin: 2px;
}

.works__gallery .gallery__pic img {
    display: block;
    width: 349px;
    height: 240px;
    position: relative;
}

.video {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0 10%;
    height: 462px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.video__text {
    width: 50%;
}

.video__textUs {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.video__textUs h1 {
    color: #FF9D00;
    font-size: 3.3em;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-text-stroke: 0;
    margin-bottom: 20px;
}

.video__textUs p {
    font-size: 1.1em;
    margin-bottom: 20px;
    line-height: 1.5em;
}


.video__video {
    width: 50%;
}

.video__video img {
    width: 100%;
    height: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.video__textUs .video__bottom {
    margin: 50px 0 10px;
    width: 214px;
    height: 48px;
    text-align: center;
    border-radius: 24px;
    line-height: 48px;
    font-size: .9em;
    text-transform: uppercase;
    color: #D5122B;
    font-weight: 700;
    display: block;
    border: 1px solid #D5122B;
}

.video__textUs .video__bottom:hover {
    background-color: #D5122B;
    color: #ffffff;
    border: none;
}

.video__arrow {
    display: flex;
    padding-right: 2%;
}

.video__arrow .arrow__left, .video__arrow .arrow__right {
    margin: 5px;
}

.footer {
    background: #2E2E2E;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 10%;
    justify-content: space-between;
    align-items: center;
}

.footer .footer__img {
    width: calc(100%/4);
    display: flex;
    justify-content: center;
}

.footer img {
    width: 211px;
    height: 42px;
}

.footer .navmenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100%/4);
}

.footer .navmenu .menu {
    width: 50%;
}

.footer .navmenu .menu a {
    color: #fff;
    text-transform: uppercase;
    font-size: .9em;
}

.footer .email {
    width: calc(100%/4);
}

.footer .email a {
    display: flex;
    justify-content: center;
    color: #fff;
}

.footer .callnumber {
    width: calc(100%/4);
}

.footer .callnumber .number {
    width: 310px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.footer .callnumber .number a {
    color: #fff;
}

.footer .callnumber .number img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* DESKTOP 1150px*/
@media only screen and (min-width : 1024px) and (max-width: 1420px) {
    .nav {
        height: 100px;
        padding: 1% 0;
    }
    .contact {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .bottom {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    .bottom__2 {
        margin-top: 20px;
    }
    .case__box .box__check {
        width: 100%;
    }
    .reviews__block .block__, .reviews__block .block__1, .reviews__block .block__3 {
        padding: 15px;
    }
    .block .block__name img {
        margin-right: 5px;
    }
    .block {
        margin: 0 5px;
    }
    .works__gallery .gallery__pic {
        width: 49%;
        height: 100%;
        margin: .5%;
    }
    .works__gallery .gallery__pic img {
        display: block;
        width: 100%;
        height: calc(100%/3);
        position: relative;
    }
    .our_works {
        background-repeat: repeat-y;
        background-image: url(../img/back_2_2.png);
    }
}

@media only screen and (max-width: 1023px) {
    .slider {
        margin-bottom: 50px;
    }
    .aboutUs {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-bottom: 50px;
    }
    .aboutUs__text {
        order: 2;
    }
    .aboutUs__text, .text__us, .aboutUs__img {
        width: 100%;
    }
    .aboutUs__text .bottom {
        width: 100%;
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }
    .bottom__2 {
        margin-top: 20px;
    }
    .aboutUs__img {
        order: 1;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 100%;
    }
    .ourAdvantages {
        padding: 50px 10%;
        height: 100%;
    }
    .ourAdvantages img {
        margin-top: -50px;
        height: 95.5%;
    }
    .ourAdvantages .blackground_cover {
        height: 95.5%;
        margin-top: -50px;
    }
    .ourAdvantages h2 {
        margin-bottom: 50px;
    }
    .ourAdvantages__box {
        flex-direction: column;
        margin-bottom: 0;
    }
    .ourAdvantages__box .hr {
        display: none;
    }
    .case {
        flex-direction: column;
        width: 100%;
        margin-top: 50px;
    }
    .case img {
        height: 30%;
        right: 0;
    }
    .case__box .box__check {
        flex-direction: column;
        width: 100%;
    }
    .case__box .box__check .check {
        margin-bottom: 0;
    }
    .case__box .bottom {
        margin-top: 0;
    }
    .form .form__box {
        display: flex;
        flex-direction: column;
        margin: 0 15%;
    }
    .form .form__text, .form .form__text p {
        width: 100%;
    }
    .form__input {
        width: 100%;
        margin: 0 auto;
    }
    .form__input form, .form__input form a {
        width: 100%;
        margin: 0 auto;
    }
    .form__input form input {
        width: 100%;
    }
    .roulette img {
        position: absolute;
        bottom: 10px;
        right: 0;
        z-index: -1;
        width: 100%;
        height: 20%;
    }
    .reviews__block {
        display: flex;
        flex-direction: column;
        height: 430px;
        justify-content: normal;
    }
    .reviews__block .block__2 {
        height: 350px;
        width: 280px;
        background-color: #2E2E2E;
        padding: 30px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .reviews__block .block__1, .reviews__block .block__3  {
        height: 320px;
        width: 260px;
        background-color: #2E2E2E;
        padding: 25px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .reviews__block .block__1, .reviews__block .block__3  {
        margin-top: 1.5%;
    }
    .block {
        position: absolute;
    }
    .reviews__block .block__1 {
        margin-left: -200px;
        z-index: -1;
    }
    .reviews__block .block__3 {
        margin-left: 200px;
        z-index: -1;
    }
    .our_works {
        background-color: #2F2F32;
        background-image: none;
    }
    .works__gallery .gallery__pic {
        width: 100%;
        height: 100%;
        margin: .5%;
    }
    .works__gallery .gallery__pic img {
        display: block;
        width: 100%;
        height: calc(100%/3);
        position: relative;
    }
    .video {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
    }
    .video__text, .video__video {
        width: 100%;
    }
    .video__video {
        margin-top: 10px;
    }
    .video__textUs .video__bottom {
        margin: 10px 0 10px;
    }
    .video .video__arrow {
        margin-top: 10px;
    }
    .footer {
        flex-wrap: wrap;
    }
    .footer .footer__img, .footer .callnumber, .footer .navmenu, .footer .email {
        width: 50%;
    }
    .footer .footer__img {
        order: 1;
    }
    .footer .callnumber {
        order: 2;
    }
    .footer .callnumber .number {
        width: 100%;
    }
    .footer .navmenu {
        order: 3;
    }
    .footer .email {
        order: 4;
    }
    .nav {
        margin: 0 10%;
        height: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .content {
        margin-top: 67px;
    }
    .logo, .menu, .button__order, .contact {
        width: 50%;
    }
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: right;
    }
    .menu ul li {
        width: 80px;
        margin: 0 0 0 10px;
    }
    .slider .slider__title {
        width: 100%;
    }
}
 

/*@media only screen and (max-width: 1420px) {


    .mobile {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 90vh;
        margin: 0 50px;
    }

    .mobile p {
        font-size: 2em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
    }
}*/