@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Dongle:wght@400;700&display=swap');

/* font-family: 'Comforter', cursive;
font-family: 'Dongle', sans-serif; */

*,
*:before, 
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

section {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: 'Comforter', cursive;
    font-size: 100px;
    margin-bottom: 20px;
}

li {
    list-style-type: none;
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
}

ul {
    margin-bottom: 5%;
}

p, q {
    width: 500px;
    font-family: 'Dongle', sans-serif;
    font-style: italic;
    font-size: 30px;
}

q {
    text-align: right;
}
