*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    list-style-type: none;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.container {
    height: 684px;
    background-color: #FAE0D8;
}

.header__menu {
    display: flex;
    justify-content: space-between; 
    width: 93%;
    height: 70px;
    margin: 47px auto 0;
    align-items: center;
}

.menu__list ul, .menu__other, .menu__about ul, .menu__profile ul {
    display: flex;
}

.menu__list ul>li, .menu__about ul>li {
    margin: 0 20px;
}

.menu__profile ul>li {
    margin: 0 5px;
}

.header__logo img {
    width: 63px;
    height: 60px;
}

.menu__list, .menu__other {
    width: calc((100%-63px)/2);
}

.menu__other {
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}

.menu__profile ul>li img {
    width: 23px;
    height: 23px;
}

.menu__about .active {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #000; 
    cursor: pointer;
}

.menu__about .active:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    transition: .3s ease-in;
}

.header {
    display: flex;
    flex-wrap: wrap;
    width: 93%;
    margin: 0 auto;
}

.header__slider {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider__text {
    padding: 10% 20% 0% 9%;
}

.slider__img {
    height: 497px;
    margin-right: 12%;
}

.slider__img img {
    height: 614px;
    margin-bottom: -117px;
}

.header__slider .slider__text h1{
    font-size: 4em;
    line-height: .9em;
    margin-bottom: .5em;
}

.header__slider .slider__text p{
    line-height: 2em;
}

.slider__text .button {
    cursor: pointer;
    margin-top: 35px;
    width: 195px;
    height: 51px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border: 1px solid #000;
}

.slider__text .button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    transition: .3s ease-in;
}

.slider__text .button p {
    line-height: 51px;
}

.header__text {
    height: 116px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text__about { 
    margin-left: -3.8%;
    width: 82.6%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.text__slider {
    margin-right: -3.7%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.57);
    width: 25%;
    align-items: center;
    backdrop-filter: blur(3px);
}

.text__about .about__box {
    display: flex;
    align-items: center;
    padding: 0 92.5px;
    border-left: 1px solid #fff;
}

.text__about .about__box p {
    font-size: 0.8em;
    color: #fff;
}

.text__about .about__box p:first-child {
    font-size: 1.2em;
    font-weight: 600;
}

.text__about .about__box img {
    height: 53px;
    width: 53px;
    margin-right: 15px;
}

.text__slider {
    display: flex;
    justify-content: space-evenly;
}

.text__slider p {
    font-size: 4.5em;
    color: #fff;
}

.text__slider ul {
    display: flex;
    justify-content: center;
}

.text__slider ul>li {
    margin: 0 3px;
}

.text__slider ul>li p {
    width: 35px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.329);
}

.text__slider ul>li p.active {
    border-bottom: 2px solid #fff;
}

.products {
    width: 94%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.products h5 {
    margin-top: 80px;
    text-transform: uppercase;    
    color: #C8BFAC;
    font-size: 0.8em;
    letter-spacing: 3px;
}

.products h1 {
    margin-top: 20px;
    font-size: 3em;
}

.products p {
    margin: 20px auto 0;
    line-height: 2em;
}

.products__box {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.box__slide {
    width: 256px;
    height: 265px;
    margin: 0 10px;
    position: relative;
}

.color_1 {
    background-color: #FEDFCC;
}

.color_2 {
    background-color: #FFE7EF;
}

.color_3 {
    background-color: #C6E1F1;
}

.box__slide p {
    position: absolute;
    bottom: 25px;
    left: 20px;
    font-weight: 700;
    font-size: 1.1em;
}

.box__slide .slash {
    width: 15px;
    border-bottom: 2px solid #000;
    margin-bottom: 35px;
}

.box_img_1 {
    display: flex;
    margin-top: -20px;
    position: relative;
}

.box_img_1 .img__1 {
    position: absolute;
    left: 60px;
    top: 0;
}

.box_img_1 .img__1 img {
    height: 220px;
}

.box_img_1 .img__2 {
    position: absolute;
    right: 15px;
    top: 0;
    margin-top: 45px;
}

.box_img_1 .img__2 img {
    height: 170px;
}





.box_img_2 {
    display: flex;
    position: relative;
}

.box_img_2 .img__3 {
    position: absolute;
    left: 100px;
    top: 10px;
}

.box_img_2 .img__3 img {
    height: 190px;
}

.box_img_2 .img__4 {
    position: absolute;
    right: 40px;
    top: 0;
    margin-top: -22px;
}

.box_img_2 .img__4 img {
    height: 220px;
}

.img__5 {
    position: absolute;
    right: 40px;
    top: -20px;
}

.img__5 img {
    height: 220px;
}

.line {
    height: 2px;
    width: 75%;
    margin: 100px auto;
    background-color: rgba(175, 175, 175, 0.123);
}

.community {
    background-color: #f7f8fa;
    background: linear-gradient(to bottom, #fff 0%, #f7f8fa 100%);
}

.community__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    margin: 100px auto;
    padding-bottom: 100px;
}

.comm_box_text {
    margin-right: 15%;
}

.comm_box_text h5 {
    text-transform: uppercase;    
    color: #C8BFAC;
    font-size: 0.8em;
    letter-spacing: 3px;
}

.comm_box_text h1 {
    margin-top: 18px;
    font-size: 2em;
}

.comm_box_text p {
    margin-top: 18px;
    margin-bottom: 20px;
    font-size: 1em;
    line-height: 2em;
    width: 82%;
}

.comm_box_photo img {
    width: 450px;
}

.button_prev a {
    display: flex;
    align-items: center;
}

.button_prev p {
    width: 150px;
}

.button_prev img {
    width: 70px;
    height: 7px;
}

.feedback {
    width: 65%;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
}

.feedback_box_pic {
    width: 50%;
    height: 445px;
    position: relative;
}

.feedback_box_pic .feedback__img_1 img {
    width: 300px;
    z-index: 9;
}

.feedback_box_pic .feedback__img_2 img {
    width: 45px;
    z-index: 10;
}

.feedback_box_pic .feedback__img_2 {    
    position: absolute;
    z-index: 10;
    bottom: 35px;
    right: 60px;

    padding: 10px 0 10px 15px;

    width: 200px;
    height: 65px;
    background-color: #fff;
    border-radius: 6px;
}

.feedback_box_pic .feedback__img_2 h5 {
    margin-left: 55px;
    font-size: .9em;
    margin-top: 2px;
    margin-bottom: 5px;
}

.feedback_box_pic .feedback__img_2 p {
    margin-left: 55px;
    font-size: .9em;
    color: #e39787;
}

.feedback__img_1 img, .feedback__img_2 img, .feedback__img_3 img, 
.feedback__img_4 img, .feedback__img_5 img, .feedback__img_6 img, 
.feedback__img_7 img, .feedback__img_8 img, .feedback__img_9 img, 
.feedback__img_10 img {
    position: absolute;
} 

.feedback__img_1 {
    display: flex;
    justify-content: center;
}

.feedback_box_pic .feedback__img_10 img {
    width: 340px;
    left: 20px;
    z-index: 1;
}

.feedback_box_pic .feedback__img_4 img {
    width: 70px;
    z-index: 8;
    bottom: 145px;
    left: 53px;
}

.feedback_box_pic .feedback__img_6 img {
    width: 45px;
    z-index: 7;
    bottom: 5px;
    left: 95px;
}

.feedback_box_pic .feedback__img_3 img {
    width: 40px;
    z-index: 6;
    top: 150px;
    left: 5px;
}

.feedback_box_pic .feedback__img_5 img {
    width: 35px;
    z-index: 5;
    bottom: 77px;
    left: 10px;
}

.feedback_box_pic .feedback__img_7 img {
    width: 40px;
    z-index: 4;
    bottom: 135px;
    right: 45px;
}

.feedback_box_pic .feedback__img_8 img {
    width: 50px;
    z-index: 3;
    top: 190px;
    right: 10px;
}

.feedback_box_pic .feedback__img_9 img {
    width: 60px;
    z-index: 2;
    top: 100px;
    right: 10px;
}



.feedback_box_txt {
    width: 50%;
    padding-left: 60px;
    padding-right: 40px;
}

.feedback_box_txt h2 {
    font-size: 1.8em;
    margin-bottom: 30px;
}

.feedback_box_txt h2 span {
    color: #FB7B4C;
    font-size: 1em;
}

.feedback_box_txt h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.feedback_box_txt ul {
    margin-left: 15px;
    margin-bottom: 40px;
}

.feedback_box_txt ul li {
    margin-bottom: 10px;
    list-style-type: disc;
    color: gray;
}

.feedback_box_txt form {
    width: 380px;
    height: 60px;
    display: flex;
}

.feedback_box_txt form input {
    width: 320px;
    height: 100%;
    border-radius: 0px;
}

.feedback_box_txt form a.button_send {
    background-color: indigo;
    width: 60px;
    height: 60px;
}

.feedback_box_txt form a.button_send img {
    width: 70%;
    margin: 40% 15%;
}


/* DESKTOP 1150px*/


/* MOBILE 768px - 1150px*/


/* MOBILE 768px*/